  @use '../mixins' as *;
  @use '../variables' as *;


  #main-container-appointments {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    #title {
      margin-top: 2rem;
      margin-left: 2rem;
      font-family: "The Seasons";
      ;
      font-size: 2.5rem;

    }

    p {
      margin-top: 0rem;
      margin-left: 2rem;
      font-family: "The Seasons";
      ;
      font-size: 2.5rem;
      margin-right: 2rem;
    }

    #search-box-container {

      display: flex;
      flex-direction: row;


    }

    #table-container {
      display: flex;
      justify-content: center;
      width: 100%;

      .simple-table {
  width: 90%;
  margin: 3rem auto;
  border-collapse: collapse;
  font-family: "The Seasons";
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.12);

  thead {
    background-color: #5f6f52; /* tu verde olivo */
    color: white;
    font-size: 1.2rem;

    th {
      padding: 12px;
      text-align: center;
      font-weight: normal;
      border-right: 1px solid rgba(255,255,255,0.2);

      &:last-child {
        border-right: none;
      }
    }
  }

  tbody {
    tr {
      transition: background-color 0.2s ease;

      &:nth-child(even) {
        background-color: rgba(95, 111, 82, 0.08); /* verde clarito suave */
      }

      &:hover {
        background-color: rgba(95, 111, 82, 0.18);
      }
    }

    td {
      padding: 14px 10px;
      text-align: center;
      border-bottom: 1px solid #dcdcdc;
      font-size: 1.1rem;
    }

    td:first-child {
      font-weight: bold;
    }

    td#extra-row {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


    }

  }