@use '../mixins' as *;
@use '../variables' as *;

#main-container-register {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  overflow-x: hidden;
  position: relative;

  .back-top-button {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 10;

    background: $cafe;
    border-radius: 999px;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    font-family: "The Seasons";
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: all 0.2s ease;

    &:hover {
      background-color: $cafe;
      color: white;
      filter: brightness(0.95);
      text-decoration: underline;
    }

    @include respond-to($mobile) {
      top: 1rem;
      left: 1rem;
      font-size: 1.1rem;
      padding: 0.25rem 0.9rem;
    }
  }

  #image-container-register {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;

    @include respond-to($mobile) {
      width: 0vw;
    }

    @include respond-to($tablet) {
      width: 95vw;
    }

    @include respond-to($desktop) {
      width: fit-content;
    }

    img {
      height: 100%;
      width: 540px;
      max-width: 100%;

      @include respond-to($tablet) {
        width: 100%;
      }

      @include respond-to($desktop) {
        max-width: 400px;
        min-width: 380px;
      }

      @include respond-to($mobile) {
        width: 100%;
      }
    }
  }

  .hidden {
    display: none;
  }

  .field-group {
    width: 100%;
    margin-bottom: 1rem;
  }

  .error-message {
    color: #e63946;
    font-size: 1rem;
    margin-top: 0.35rem;
    min-height: 1.2rem;
  }

  #fields-container-register {
    @include respond-to($tablet) {
      padding-right: 3rem;
      width: 72vw;
    }

    @include respond-to($desktop) {
      width: 72vw;


    }

    @include respond-to($mobile) {
      width: 100vw;
      padding-right: 2rem;

    }

    flex: content;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    padding-bottom: 5vh;
    height: 100%;
    padding-top: 1vh;

    h4 {
      font-size: 2rem;
      margin-top: 0.5rem;
      font-family: "The Seasons";
      font-style: normal;
      font-weight: 300;
      text-align: left;
      padding-left: 4.5rem;

      @include respond-to($mobile) {
        padding-left: 1rem;
        text-align: center;
        font-size: 1.5rem;

      }
    }

    #logo-container-register {
      display: flex;
      justify-content: left;
      flex-direction: row; 
      padding-left: 2rem;
      width: 100%;

       @include respond-to($tablet) {

        justify-content: right;
        margin-top: 5vh;
      }
      @include respond-to($mobile) {

        justify-content: right;
        margin-top: 10vh;
      }

      

      @include respond-to($desktop) {

        justify-content: left;
      }

      img {


        @include respond-to($desktop) {
          padding-left: 1.5em;

        }
      }
    }

    form {
      padding-left: 2.2rem;
      box-sizing: border-box;
      max-width: 100%;

      @include respond-to($tablet) {
        padding-right: 3rem;
        padding-left: 5rem;
      }

      @include respond-to($desktop) {
        padding-right: 3rem;
        padding-left: 5rem;
      }

      label {
        font-family: "The Seasons";
        font-style: normal;
        font-size: 1.7rem;
        box-sizing: border-box;
        text-align: left;
        padding-top: 0.1rem;
        padding-bottom: 0.5rem;
      }

      input {
        border-radius: 8rem;
        width: 100%;
        height: 3rem;
        background-color: $primary-color;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        box-sizing: border-box;
        align-self: center;
        border: 1px solid $cafe;
        color: black;

        @include respond-to($mobile) {
          width: 100%;
        }
      }

      input:focus {
        outline: none;
        border: 1px solid $cafe;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $primary-color inset !important;
        -webkit-text-fill-color: black !important;
        background-color: $primary-color !important;
        background-image: none !important;
      }


      .error-message {
        color: #e63946;
        font-size: 1rem;
        margin: 0.2rem 0 0.8rem;
        padding-left: 0.5rem;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        word-wrap: break-word;
      }

      button {
        width: 100%;
        border-radius: 8rem;
        margin-top: 2rem;
        background-color: $cafe;
        font-family: "The Seasons";
        font-size: 1.5rem;
        padding: 0.4rem;
        transition: filter 0.2s ease;

        &:hover {
          filter: brightness(0.9);
          cursor: pointer;
        }
      }
    }

    #signin-link-register {
      width: 100%;
      margin-top: 1.1rem;
      flex: content;
      flex-direction: row;
      text-align: center;

      a {
        color: $cafe;
        font-size: 1.4rem;
        text-decoration: none;
        transition: text-decoration 0.2s ease;

        &:hover {
          text-decoration: underline;
        }
      }

      @include respond-to($mobile) {
        padding-left: 1rem;
        text-align: center;
        font-size: 1.5rem;
      }
    }
  }
}