@use './variables' as *;








.container-header {
    background-color: $verde-oscuro;
   

    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    position: relative; 
 z-index: 1000; 
    .navbar-brand {
        display: flex;
        align-items: center;
    }

    .navbar-toggler {
        display: none;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .navbar-menu {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 3rem;
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 1.5rem;

            li a.nav-link {
                color: black;
                font-weight: 550;
                font-family: "The Seasons";
                text-decoration: none;

                &:hover {
                    color: #524f4f;
                    text-decoration: underline;
                }
            }
        }
    }

    @media (max-width: 690px) {

        align-items: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        border: none;
        padding: 0.5rem;
        cursor: pointer;

        svg {
            width: 32px;
            height: 32px;
        }

        .navbar-toggler {
            display: block;
            margin-left: auto;
        }

        .navbar-menu {
            display: none;
            width: 100%;

            &.open {
                display: block;

                ul {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.1rem;
                    margin-top: 1rem;
                    font-size: 1.1rem;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}


