$primary-color: #ede8dc;
$verde-oscuro: #a5b68d;
$verde-claro: #c1cfa0;
$cafe: #b17f59;
$admin-background : #f7f9f8;
$admin-azul : #374f59;

$mobile: 0px;
$tablet: 769px;
$desktop: 1024px;
$large-desktop: 1200px;
