  @use '../mixins' as *;
  @use '../variables' as *;
  

.check-box{
    width: 22px;
    height: 22px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;

}

#false-box {
   
}

#true-box{
    position: relative;
    justify-content: center;
    align-items: center;

    img{
        position: absolute;
        top: 3.5px;
        left: 2px;

    }



}